* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    padding: 0;
    background-image: linear-gradient(
        305deg,
        hsl(68deg 55% 82%) 0%,
        hsl(228deg 15% 91%) 20%,
        hsl(72deg 31% 87%) 40%,
        hsl(72deg 31% 87%) 60%,
        hsl(228deg 15% 91%) 80%,
        hsl(68deg 55% 82%) 100%
    );
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#logo{
    margin-left: 15px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 18px;
    font-size: large;
    background-color:linear-gradient(
        305deg,
        hsl(68deg 55% 82%) 0%,
        hsl(228deg 15% 91%) 20%,
        hsl(72deg 31% 87%) 40%,
        hsl(72deg 31% 87%) 60%,
        hsl(228deg 15% 91%) 80%,
        hsl(68deg 55% 82%) 100%
    ) ;
    
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: black;
    padding-bottom: 10px;
}

.ul-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-left: 0px;
    margin-top: -2px;
    font-size: small;
    flex-wrap: wrap; 
}
.ul-list li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }

.li-c {
    margin-left: 15px;
    padding: 5px;
    cursor: pointer;
}

.div-2 {
    margin-top: 25px;
    flex: 1;
}

.content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    padding: 20px;
}

.part-1 {
    width: 100%;
    max-width: 570px; 
    margin: 20px;
}

.part-2 img {
    width: 100%;
    max-width: 400px; 
    height: auto;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4rem;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: 1.5px solid black;
    border-radius: 12px;
    margin-top: 10px;
    color: black;
    background-color: rgb(244, 206, 92);
    cursor: pointer;
}

.btn-2 {
    background-color: rgb(244, 206, 92);
    border: 1.5px solid black;
    cursor: pointer;
    color: black;
    margin-top: 10px;
    padding: 9px 10px;
    border-radius: 50%;
}

.content-2 {
    margin-top: 5px;
    height: auto;
    padding: 20px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.checkbtn {
    margin-top: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }


/* Media Queries for Responsiveness */

@media (max-width: 769px) {
    .checkbtn {
      display: block;
      order: 1;
      margin-left: 570px;;
    }
    .ul-list {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: black;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }
    #check:checked ~ .ul-list {
        right: 0; 
    }
    .ul-list li {
        margin: 20px 0;
    }

    .ul-list li a {
        font-size: 20px;
        color: white;
        text-decoration: none;
    }
  
  }

@media (min-width: 768px) {
    .content-1 {
        flex-direction: row;
        justify-content: space-between;
    }

    .part-1, .part-2 {
        width: 50%;
    }

    h1 {
        font-size: 3rem;
    }

    .part-2 img {
        max-width: 500px;
    }
}

@media (max-width: 480px) {
    .ul-list {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
        color: black;
    }

    .btn, .btn-2 {
        font-size: 0.9rem;
    }

    .checkbtn {
        display: block;
        order: 1;
        margin-left: 290px;
      }
      .ul-list {
        position: fixed;
        top: 80px;
        right: -100%;
        background-color: black;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
      }

    
}
@media (max-width: 376px) {
    .ul-list {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
        color: aqua;
    }

    .btn, .btn-2 {
        font-size: 0.9rem;
    }

    .checkbtn {
        display: block;
        order: 1;
        margin-left: 230px;
      }
      .ul-list {
        position: fixed;
        top: 80px;
        right: -100%;
        background-color: black;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
      }

    
}
@media (max-width: 321px) {
    .ul-list {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 1rem;
        color: black;
    }

    .btn, .btn-2 {
        font-size: 0.5rem;
    }

    .checkbtn {
        display: block;
        order: 1;
        margin-left: 150px;
      }
      .ul-list {
        position: fixed;
        top: 80px;
        right: -100%;
        background-color: black;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
      }

    
}

  
  

  

    