* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    padding: 0;
    background-image: linear-gradient(
        305deg,
        hsl(68deg 55% 82%) 0%,
        hsl(228deg 15% 91%) 20%,
        hsl(72deg 31% 87%) 40%,
        hsl(72deg 31% 87%) 60%,
        hsl(228deg 15% 91%) 80%,
        hsl(68deg 55% 82%) 100%
    );
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#logo{
    height: 45px;
    width: auto;
    margin-left: 20px;
    margin-top: 15px;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    overflow: hidden;
    padding-bottom: 18px;
    background-color: rgba(0, 0, 0, 0.9); 
}
.ul-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-left: 0px;
    margin-top: -2px;
    font-size: small;
    flex-wrap: wrap;
}
.ul-list li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }

.li-c {
    margin-left: 15px;
    padding: 5px;
    cursor: pointer;
}

.div-2 {
    margin-top: 25px;
    flex: 1;
}

.content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    padding: 20px;
}

.part-1 {
    width: 100%;
    max-width: 570px; 
    margin: 20px;
}

.part-2 img {
    width: 100%;
    max-width: 400px; 
    height: auto;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4rem;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: 1.5px solid black;
    border-radius: 12px;
    margin-top: 10px;
    color: black;
    background-color: rgb(244, 206, 92);
    cursor: pointer;
}

.btn-2 {
    background-color: rgb(244, 206, 92);
    border: 1.5px solid black;
    cursor: pointer;
    color: black;
    margin-top: 10px;
    padding: 9px 10px;
    border-radius: 50%;
}

.btn, .cart, .buy {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn:hover, .cart:hover, .buy:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.content-2 {
    margin-top: 0px;
    height: auto;
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.checkbtn {
    margin-top: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }

h3{
    text-align: center;
    font-size: 25px;
    background-color: black;
    color: white;
    padding-top: 15px;
}

.A-part-1 img{
    width: 100%;
    max-width: 400px; 
    height: auto;
}
.A-part-2 {
    width: 100%;
    max-width: 570px; 
    margin-top: 4px;
    margin-left: 10px;
}

.content-3{
    margin-top: 0px;
    height: auto;
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
}
.A-part-3{
    width: 100%;
    max-width: 570px; 
    margin-top: 5px;
    margin-left: 80px;
}
.A-part-4 img{
    width: 100%;
    max-width: 400px; 
    height: auto;
}
span{
    margin-top: 5px;
}

#social{
    /* float: left; */
    position: fixed;
    top: 50vh;
    right: 5px;
}
#social li img{
    height: 25px;
    width: auto;
    cursor: pointer;
}
#social ul{
    list-style: none;
    background-color: rgba(0, 0, 0, 0.495);
    padding: 5px;
    border-radius: 5px;
}
.content-4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}
.content-4 img{
    width: 100%;
    max-width: 250px;
    height: auto;
}
.A-part-4{
    width: 100%;
    padding: 20px;
    padding: 20px;
}
.A-part-5{
    width: 100%;
    padding: 20px;
    padding: 20px;
}
.A-part-6{
    width: 100%;
    padding: 20px;
}
.A-part-7{
    width: 100%;
    padding: 20px;
}
.inner{
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.629);
    
}

.cart{
    background-color: rgb(253, 226, 68);
    color: black;
    padding: 5px;
    font-size:12px;
    cursor: pointer;
}
#cart-ico{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.buy{
background-color: black;
color: white;
margin-top: 5px;
padding: 5px;
font-size: 12px;
cursor: pointer;

}

.product-name{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    padding: 3px;
}

.inner:hover{
    border: 2px solid black;
}

.price{
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3px;

}

.price div{
    color: black;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.disc{
    display: flex;
}
.o-price{
margin-left: 5px;
}
.disc .o-price{
    margin-left: 5px;
    font-size: 13px;
    color: darkgray;
}
.disc .off{
    margin-left: 5px;
    font-size: 13px;
    color: green;
}


/* Media Queries for Responsiveness */

@media (max-width: 769px) {
    .checkbtn {
      /* display: block;
      order: 1;
      margin-left: 570px; */
      display: block;
        font-size: 30px;
        color: white;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 25px;
        margin-top: 6px;
    }
    .ul-list {
      position: fixed;
      top: 77px;
      right: -100%;
      background-color: rgba(0, 0, 0, 0.8); 
      backdrop-filter: blur(5px);
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: right 0.3s;
      z-index: 1000;
      margin-top: 0px;
    }
    #check:checked ~ .ul-list {
        right: 0; 
    }
    .ul-list li {
        margin: 20px 0;
    }

    .ul-list li a {
        font-size: 20px;
        color: white;
        text-decoration: none;
    }

  
  }

@media (min-width: 768px) {
    .content-1 {
        flex-direction: row;
        justify-content: space-between;
    }

    .part-1, .part-2 {
        width: 50%;
    }

    h1 {
        font-size: 3rem;
    }

    .part-2 img {
        max-width: 500px;
    }
}

@media (max-width: 480px) {
    nav{
        position: sticky;
    }
    .A-part-3{
        margin-left: 0px;
    }
    .ul-list {
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8); 
        backdrop-filter: blur(5px);
        position: fixed;
        top: 77px;
        right: -100%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }
    .content-2{
        display: list-item;
        margin-top: -1px;
    }
    .content-3{
        display: list-item;
        margin-top: -1px;
    }
    .special{
        margin-bottom: 10px;
        margin-top: -20px;
    }

    h1 {
        font-size: 2rem;
        color: black;
    }

    .btn, .btn-2 {
        font-size: 0.9rem;
    }

    .checkbtn {
        display: block;
        order: 1;
        margin-left: 250px;
        margin-top: 5px;
      }

      .content-4{
        display:list-item;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5px;
    }

    /* .special{
        margin-right: 80px;
    }
    .special-para{
        margin-right: 50px;
    } */
}
@media (max-width: 376px) {
    nav{
        position: sticky;
    }
    .A-part-3{
        margin-left: 0px;
    }
    h1 {
        font-size: 2rem;
        color: black;
    }
    .btn, .btn-2 {
        font-size: 0.9rem;
    }
    .content-2{
        display: list-item;
        margin-top: -1px;
    }
    .content-3{
        display: list-item;
        margin-top: -1px;
    }
    .special{
        margin-bottom: 10px;
    }
    .checkbtn {
        display: block;
        order: 1;
        margin-left: 230px;
        margin-top: 5px;
      }
      .ul-list {
        position: fixed;
        top: 77px;
        right: -100%;
        background-color: black;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: center;
      }
      #section2 {
        scroll-margin-top: 110px;
    }

    
}
@media (max-width: 321px) {
    h1 {
        font-size: 1rem;
        color: black;
    }
    .A-part-3{
        margin-left: 0px;
    }

    .btn, .btn-2 {
        font-size: 0.5rem;
    }

    .checkbtn {
        display: block;
        order: 1;
        margin-top: 5px;
        margin-left: 170px;
      }
      nav{
        position: sticky;
      }
      .ul-list {
        position: fixed;
        top: 77px;
        right: -100%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
      }
      #social li img{
        height: 15px;
    }
    
}

#section1 {
    scroll-margin-top: 75px; 
    padding-bottom: 20px;
}
#section2 {
    scroll-margin-top: 75px; 
    margin-top: 10px;
    text-align: center;
}